# Exercício 1

## Crie uma lista de números inteiros. Utilize map e uma expressão lambda para dobrar cada número da lista. Em seguida, utilize filter e outra expressão lambda para filtrar apenas os números ímpares do resultado.

In [62]:
lista = [1,2,3,4,5,6,7,8,9,10]

lista = list(map(lambda x: (x*2),filter(lambda x: x%2 != 0,lista)))

lista

[2, 6, 10, 14, 18]

# Exercício 2

## Crie uma lista de palavras. Utilize map e uma expressão lambda para converter todas as palavras para maiúsculas. Em seguida, utilize filter e outra expressão lambda para filtrar as palavras com mais de 5 caracteres.

In [22]:
lista_palavras = ["BANANA", "MAÇA","PÊRA"]

lista_palavras =list(filter(lambda x : len(x) >5,map(lambda x : x.lower(),lista_palavras)))

lista_palavras

['banana']

# Exercício 3

## Crie uma lista de números inteiros positivos e negativos. Utilize filter e map para calcular o quadrado apenas dos números positivos.

In [29]:
lista_num_inteiros = [1,2,3,4,5,-5,-4,-3,-2,-1]

lista_num_quadrado = list(map(lambda x : x**2,filter(lambda x : x > 0,lista_num_inteiros)))

lista_num_quadrado

[1, 4, 9, 16, 25]

# Exercício 4

## Crie uma lista de nomes. Utilize map e uma expressão lambda para criar uma nova lista contendo apenas o primeiro caractere de cada nome.

In [33]:
lista_nomes = ["Ana","João","Maria","Renato"]

nova_lista = list(map(lambda x : x[0],lista_nomes))

nova_lista

['A', 'J', 'M', 'R']

# Exercício 5

## Crie uma lista de dicionários, onde cada dicionário representa um funcionário com os atributos "nome" e "salario". Utilize map e uma expressão lambda para aumentar o salário de cada funcionário em 10%.

In [56]:
colaboradores = [
    {'nome': 'Alice', 'salario': 1500},
    {'nome': 'Bia', 'salario': 2000},
    {'nome': 'Pedro', 'salario': 4000},
]

In [60]:
ajustar_salario = lambda x: x*1.1

for colaborador in colaboradores:
    colaborador['salario'] = round(ajustar_salario(colaborador['salario']),3)

In [59]:
colaboradores

[{'nome': 'Alice', 'salario': 1650.0},
 {'nome': 'Bia', 'salario': 2200.0},
 {'nome': 'Pedro', 'salario': 4400.0}]